# rye
/*.lock
/.python-version


*.aux
*.log
*.fls
*.out
*.toc

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

_minted*
*.pyg

*.xmpi
*.xmpdata
flycheck_*
